// breakpoints

$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;
$breakpoint-xxl: 1320px;

// colors

$green: #00c865;
$greenHover: #26d07c;
$greenLight: #ccf4e0;
$customGray: #222222;
$grayLight: #555555;
$whiteGreen: #f4f9f4;

// font

$font-sans: "Rubik", sans-serif;
