.accordion {
  &__item {
    // overflow: hidden;
  }

  &__title {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50%));
      right: theme("spacing.6");
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid theme("colors.zinc.900");
      transition: transform theme("transitionDuration.500"),
        border theme("transitionDuration.300");
    }

    &:hover {
      color: theme("colors.white");
      background-color: theme("colors.green");
    }

    &:hover::after {
      border-top-color: theme("colors.white");
    }

    &--active {
      color: theme("colors.white");
      background-color: theme("colors.green");

      &::after {
        border-top-color: theme("colors.white");
        transform: rotateZ(-180deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
  }

  .dark & {
    &__title {
      &::after {
        border-top: 0.35rem solid theme("colors.zinc.200");
      }
    }
  }
}
