.dropdown {
  position: relative;

  &__button {
    position: relative;
    transition: border-color theme("transitionDuration.150"),
      color theme("transitionDuration.150");

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: theme("spacing.6");
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid theme("colors.zinc.900");
      transition: border-top-color theme("transitionDuration.150"),
        transform theme("transitionDuration.300");
    }

    &:hover::after {
      border-top-color: theme("colors.green");
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(theme("spacing.16"));
  }

  &__menu {
    display: none;
    visibility: hidden;

    &--willChangeTransform {
      will-change: transform;
    }
  }

  &--open {
    .dropdown__button {
      border-color: theme("colors.green");
      color: theme("colors.green");
    }

    .dropdown__button::after {
      border-top-color: theme("colors.green");
      transform: rotate(180deg) translateY(50%);
    }

    .dropdown__menu {
      display: block;
      visibility: visible;
    }
  }
}
