.navbar-dropdown {
  &:hover .navbar-dropdown__menu {
    visibility: visible;
    opacity: 1;
  }

  &:hover .navbar-dropdown__toggle {
    @media (min-width: theme("screens.lg")) {
      color: theme("textColor.green");

      &:after {
        border-top-color: theme("colors.green");
        transform: rotate(-180deg) translateY(0.175em);
      }
    }
  }

  &__menu {
    @media (min-width: theme("screens.lg")) {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__toggle {
    position: relative;
    padding-right: theme("spacing.6");

    &:after {
      visibility: hidden;
      content: "";
      position: absolute;
      margin-left: theme("spacing.2");
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 0.35em solid transparent;
      border-right: 0.35em solid transparent;
      border-top: 0.35em solid theme("colors.gray.300");
      transition: all theme("transitionDuration.150");

      @media (min-width: theme("screens.lg")) {
        visibility: visible;
        border-top: 0.35em solid theme("colors.zinc.600");
      }
    }
  }
}
